body {
  font-family: Helvetica,Arial,sans-serif;
  max-width: 1200px;
}

nav {
  background: rgba(255,255,255,0.6);
  height: 155px;
  margin: -8px -8px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#logo {
  border-radius: 100%;
  background-color: #000;
  display: inline-block;
  height: 125px;
  margin-left: 40px;
  margin-top: 30px;
  width: 125px;
}

#logo:active {
  background-color: #CFB56D;
}

#logo h1 {
  color: #fff;
  font-size: 3.5rem;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
  padding-right: 50px;
}

li:hover {
  color: #CFB56D;
}

.content {
  background-color: #B8C9CF;
  float: left;
  height: auto;
  margin: 147px 0 10px 201px;
  position: relative;
  width: 57%;
}

footer {
  bottom: 0;
  font-size: .9rem;
  font-weight: 300;
  margin-left: 35px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

#photobox {
  background-color: #fff;
  max-width: 80%;
  padding: 147px 0 0 35px;
}

#photobox li {
  padding: 0 20px 20px 0;
}

#photobox ul {
  margin: 0;
  padding: 0;
}

#about p {
  font-size: 1.2rem;
}

#cv h5 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  margin: 7px 0;
  width: 20%;
}

#cv p {
  display: inline-block;
  font-weight: 700;
  margin: 7px 0;
  width: 80%;
}

#cv span {
  float: right;
  font-weight: normal;
}

#contact a:hover {
  text-decoration: underline;
}

#contact h4 {
  margin-bottom: 15px;
  margin-top: 15px;
}

#contact p {
  margin-bottom: 5px;
  margin-top: 5px;
}
